<div class="card" style="width: 18rem;">
    <img src=`{{monster.url}}` class="card-img-top" alt=`{{monster.name}}`>
    <div class="card-body">
        <h5 class="card-title">{{monster.name}}</h5>
        <p class="card-text">{{monster.description}}</p>
        <p class="card-text">Hitpoints: {{monster.hp}}</p> 
        <p class='card-text'>Stats: {{!-- TODO: add stats, moves --}}</p>
    </div>
</div>