<div class="card m-1 battle-monster" style="width: 18rem;">
    <img src={{monster.sprite}} class="card-img-top" alt={{monster.name}}>
    <div class="card-body">
        <h5 class="card-title" id='monster' data-m_id={{monster.id}} data-m_name={{monster.name}}>{{monster.name}}</h5>
        <p class="card-text">{{monster.description}}</p>
        <p class="card-text" id='monsterHp' data-m_hp={{monster.hitpoints}}>Hitpoints: {{monster.hitpoints}}</p> 
        <p class='card-text'>Stats: {{!-- TODO: add stats, moves --}}</p>
    </div>
</div>