<div class="card" style="width: 18rem;">
    <img src=`{{pokemon.url}}` class="card-img-top" alt=`{{pokemon.name}}`>
    <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">{{pokemon.description}}</p>
        <p class="card-text">Hitpoints: {{pokemon.hp}}</p> 
        <p class='card-text'>Stats: {{!-- TODO: add stats, moves --}}</p>
        <a href="#" class="btn btn-primary">Use this move!</a>
    </div>
</div>