<div class="card battle-pokemon m-1" style="width: 18rem;">
    <img src={{pokemon.sprite}} class="card-img-top" alt={{pokemon.name}}>
    <div class="card-body">
        <h5 class="card-title" id='pokemon' data-p_id={{pokemon.id}} data-p_name={{pokemon.name}}>{{pokemon.name}}</h5>
        <p class="card-text">{{pokemon.description}}</p>
        <p class="card-text" id='pokemonHp' data-p_hp={{pokemon.hitpoints}}>Hitpoints: {{pokemon.hitpoints}}</p> 
        <p class='card-text'>Stats: {{!-- TODO: add stats, moves --}}</p>
        <a class="btn btn-primary" id="p_move_one" data-p_move_one={{pokemon.move_one}}>Use {{pokemon.move_one}}!</a>
    </div>
</div>